**/target/
**/.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

**/docker/postgresql/
**/.mvn
**/target/
**/.idea/

**/.classpath
**/.project
**/.settings/
**/.vscode/

.idea
**/.iws
**/.iml
**/.ipr

**/.DS_Store
**/.gitattributes
**/mvnw
**/mvnw.cmd

.vscode
